# Git
.git
.gitignore

# Entornos virtuales
.venv
venv
env

# Cache de Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# Variables de entorno y secretos
.env
.env_shareable

# Documentación
*.md

# Otros
demo_scripts/
