# Git
.git
.gitignore

# Entornos virtuales
.venv
venv
env

# Cache de Python
__pycache__
.pytest_cache
*.pyc
*.pyo
*.pyd
.Python

# Variables de entorno y secretos
.env
.env_shareable

# Documentación
*.md

# Datos persistentes y temporales locales
data/
backups/
scratch.patch

# Otros
