#mainContainer {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    width: 65%;
    margin: 40px auto;
    border: 1px solid #eee;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-csic);
    margin-bottom: 30px;
    font-weight: 700;
}

#editForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}


#photoPreview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--color-csic);
    background: white;
}

.photo-buttons {
    display: flex;
    gap: 10px;
}

.fields-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #444;
    font-size: 14px;
}

.input-group input, .input-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}

#btnSaveChanges {
    background-color: var(--color-csic);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#btnSaveChanges:hover {
    background-color: var(--color-hover);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(175, 7, 31, 0.3);
}

.btn-secundario {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.btn-danger {
    background-color: #fff1f0;
    color: #d93025;
    border: 1px solid #d93025;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para el Menú Desplegable */
.hidden { display: none !important; }
.hidden-form { display: none; }

#dropdownMenu { 
    position: absolute; 
    top: 55px; 
    right: 0; 
    background: white; 
    border-radius: 8px; 
    box-shadow: 0 5px 20px rgba(0,0,0,0.2); 
    width: 170px; 
    z-index: 1000; 
    overflow: hidden; 
}

.menu-option { 
    width: 100%; 
    padding: 12px; 
    border: none; 
    background: none; 
    font-weight: 600; 
    cursor: pointer; 
    text-align: left; 
    transition: background 0.2s;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.menu-option:hover { 
    background-color: #f0f0f0; 
    color: var(--color-csic);
}